@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
   margin: 0; 
   padding: 0;
}

body {
   background: black;
   font-family: 'Roboto Condensed', sans-serif;
}

canvas {
   display: 
   block;
}

h1 {
   margin: 1em; 
   font-size: 35px;
}

p {
   font-size: 22px;
}

#c {
   position: fixed; 
   top: 0;
   left: 0; 
   z-index: -1;
}

#game-text {
   position: fixed; 
   top: 80px;
   left: 260px;
   width: 650px;
   color: fuchsia;
   background: rgba(0, 0, 0, 0.6);
   padding: 36px; 
   border-radius: 40px;
   border: 3px dotted fuchsia;
}

.centered {
   text-align: center;
}

